<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
  version="2.5">
  <display-name>Todo</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
		<servlet-name>AddTodoServlet</servlet-name>
		<servlet-class>com.todo.jsp.servlet.AddTodoServlet</servlet-class>

	</servlet>
	 <servlet>
		<servlet-name>ShowAllTaskServlet</servlet-name>
		<servlet-class>com.todo.jsp.servlet.ShowAllTaskServlet</servlet-class>

	</servlet>
	<servlet>
		<servlet-name>DeleteAllServlet</servlet-name>
		<servlet-class>com.todo.jsp.servlet.DeleteAllServlet</servlet-class>

	</servlet>
	<servlet>
		<servlet-name>DeleteTaskServlet</servlet-name>
		<servlet-class>com.todo.jsp.servlet.DeleteTaskServlet</servlet-class>

	</servlet>
	<servlet>
		<servlet-name>ShowModifyFormServlet</servlet-name>
		<servlet-class>com.todo.jsp.servlet.ShowModifyFormServlet</servlet-class>

	</servlet>
	<servlet>
		<servlet-name>UpdateServlet</servlet-name>
		<servlet-class>com.todo.jsp.servlet.UpdateServlet</servlet-class>

	</servlet>
	<servlet-mapping>
		<servlet-name>AddTodoServlet</servlet-name>
		<url-pattern>/addtodo_servlet</url-pattern>

	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ShowAllTaskServlet</servlet-name>
		<url-pattern>/showall_servlet</url-pattern>

	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeleteAllServlet</servlet-name>
		<url-pattern>/deleteall_servlet</url-pattern>

	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeleteTaskServlet</servlet-name>
		<url-pattern>/deletetask_servlet</url-pattern>

	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ShowModifyFormServlet</servlet-name>
		<url-pattern>/showmodifyform_servlet</url-pattern>

	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UpdateServlet</servlet-name>
		<url-pattern>/update_servlet</url-pattern>

	</servlet-mapping>
	
	
</web-app>